.welcome-letter-Agent-container2 {
    text-align: center;
    background-color: #fff;
    height: auto;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07)!important;
    width: 70%;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 40px auto 0px auto;
  }
