.blog-manage-container2 {
  background-color: #fff;
  height: auto;
  box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07)!important;
  width: 90%;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 40px auto 0px auto;
}
.blog-manage-sec {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.heading-1,
.heading-2,
.heading-3 {
  flex: 1;
  min-width: 150px;
  margin: 5px;
}
.blog-manage-search-bar{
  width: 25%;
 }
  .blog-manage-search-bar-input{
    width: 75%;
    outline-offset: unset !important;
  }
.blog-manage-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.blog-manage-table>tbody>tr>td {
  border: 2px dotted #dddddd;
  text-align: center;
  height: 100px;
  background-color: #eeeeee;
}
.blog-manage-table>thead>tr>th {
  border: 2px dotted #dddddd;
  text-align: center;
  padding: 8px;
}

.blog-manage-pagination{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
/* Media Queries */
@media (max-width: 768px) {
  .blog-manage-sec {
    flex-direction: column;
  }
  .blog-manage-table {
    font-size: 8px;
  }

  td,
  th {
    padding: 0px;
  }

  .blog-manage-content {
    overflow: auto;
    white-space: nowrap;
  }
}
@media (max-width: 320px) {
  .blog-manage-pagination {
      text-align: center; /* Center align text */
  }

  .pagination {
      flex-wrap: wrap; /* Allow wrapping of pagination items */
      justify-content: center; /* Center the pagination */
  }
}
