.manage-gallery-container2 {
  background-color: #fff;
  height: auto;
  box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07)!important;
  width: 90%;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 40px auto 0px auto;
}
.manage-gallery-sec {
  display: flex;
  flex-wrap: wrap;
  /* Allow items to wrap for smaller screens */
  margin-bottom: 15px;
}
.heading-1,
.heading-2,
.heading-3 {
  flex: 1;
  /* Use flexbox for responsive layout */
  min-width: 150px;
  /* Set a minimum width for columns */
  margin: 5px;
  /* Add some spacing between columns */
}
.galler-manage-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.galler-manage-table>tbody>tr>td {
  border: 2px dotted #dddddd;
  text-align: center;
  height: 100px;
  background-color: #eeeeee;
}
.galler-manage-table>thead>tr>th {
  border: 2px dotted #dddddd;
  text-align: center;
  padding: 8px;
}


/* Media Queries */
@media (max-width: 768px) {
  .manage-gallery-sec {
    flex-direction: column;
    /* Stack items vertically on smaller screens */
  }

  .dropbtn {
    width: 100%;
    /* Full width for button on smaller screens */
  }

  .galler-manage-table {
    font-size: 8px;
    /* Smaller font size for the table */
  }

  td,
  th {
    padding: 0px;
    /* Reduced padding for table cells */

  }

  .manage-gallery-content {
    overflow: auto;
    white-space: nowrap;
  }
}
@media (max-width: 320px) {
  .manage-gall_pagination {
      text-align: center; /* Center align text */
  }

  .pagination {
      flex-wrap: wrap; /* Allow wrapping of pagination items */
      justify-content: center; /* Center the pagination */
  }

  .page-item {
      margin: 0 5px; /* Add some space between items */
  }

  .page-link {
      padding: 5px 10px; /* Adjust padding for smaller buttons */
      font-size: 14px; /* Make font size smaller */
  }
}



.manage-gall_pagination{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's on top of other elements */
}

.container1 {
  background-color: white; /* Background of the modal */
  padding: 20px;
  border-radius: 5px;
  width: 400px; /* Adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
