.achievement-card_sec {
    margin-bottom: 100px;
    text-align: center;
}

.cabCounterList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cabCounterList>li:nth-child(1) {
    color: var(--primary-color);
   background-color: white;
}

.cabCounterList>li:nth-child(2) {
    color: white !important;
    background-color: var(--primary-color);
}

.cabCounterList>li:nth-child(3) {
    color: var(--primary-color);
    background-color: white;
}
.cabCounterList>li:nth-child(4) {
    color: white !important;
    background-color: var(--primary-color);
}

.achievement-card_li {
    width: 260px;
    padding: 50px;
}

.achievementTitle {
    margin-bottom: 30px;
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
}

.achievement-textCount {
    font-size: 48px;
    font-weight: bold;
    display: block;
}

.achievement-subtitle {
    font-size: 18px;
    margin-top: 10px;
}