#customer-login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 100px auto 0px auto;
    background-color: #fff;
    padding: 20px 0px;
    /* border-right: 2px solid var(--primary-color); */
}

.customer-login_img {
    /* border: 1px solid red; */
    width: 22rem;
    height: 35rem;
}

.customer-login_img>img {
    height: 100%;
    width: 100%;
}

.customer-login_content {
    padding: 10px;
    border-right: 2px solid var(--primary-color);
    /* border: 1px solid red; */
    width: 37.5rem;
    height: 550px;
}

.customer-login_content>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--primary-color);
    gap: 5px;
}

.customer-login_content>div>.login-switch_btn {
    outline: none;
    border: none;
    color: var(--primary-color);
    font-weight: bold;
    width: 180px;
    padding: 10px 0px;
    transition: background-color 0.3s, color 0.3s;
}


.login-switch_btn.active {
    background-color: var(--primary-color);
    color: #fff !important;
}


/* customer-rejister_login_forgotpass_btn css start from here */
.customer-rejister_login_forgotpass_btn {
    height: 100%;
}

.customer-rejister_login_forgotpass_btn>h5 {
    color: var(--primary-color);
}

.customer-rejister_login_forgotpass_btn>h5 {
    margin: 10px 0px 15px 0px;
}

.customer-rejister_login_forgotpass_btn>form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.customer-rejister_login_forgotpass_btn>form>div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.customer-rejister_login_forgotpass_btn>form>div>label {
    color: var(--primary-color);
}

.customer-rejister_login_forgotpass_btn>form>div>input {
    border-radius: 2px;
    padding: 4px 0px 4px 15px;
    outline: 1px solid var(--primary-color);
    border: none;
    width: 100%;
}

.customer-rejister_login_forgotpass_btn>form>div>input:focus {
    outline: 2px solid rgba(0, 0, 255, 0.347);
    border-radius: 2px;
    border: none;
}

.customer-rejister_login_forgotpass_btn>form>div {
    display: flex;
    gap: 5px;
    width: 100%;
}

.customer-rejister_login_forgotpass_btn>form>div>div {
    width: 100%;
}

.customer-rejister_login_forgotpass_btn>form>div>div>label {
    color: var(--primary-color);
}

.customer-rejister_login_forgotpass_btn>form>div>div>input {
    border-radius: 2px;
    padding: 4px 0px 4px 15px;
    outline: none;
    border: none;
    width: 100%;
    outline: 1px solid var(--primary-color);
}


.customer-pass_cont {
    position: relative;
    width: 100%;
}

.customer-pass_cont>input {
    border-radius: 2px;
    padding: 4px 0px 4px 15px;
    outline: none;
    border: none;
    width: 100%;
    outline: 1px solid var(--primary-color);
}

.customer-pass_cont>input:focus {

    outline: 2px solid rgba(0, 0, 255, 0.34);
    border-radius: 2px;
    border: none;
}

.customer-pass_cont>i {
    position: absolute;
    right: 10px;
    /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.customer-rejister_login_forgotpass_btn>form>div>div>input:focus {
    outline: 2px solid rgba(0, 0, 255, 0.34);
    border-radius: 2px;
    border: none;
}


@media (max-width: 1050px) {
    #customer-login {
        gap: 20px;
    }

    .customer-login_img {
        height: 500px;
        width: 60%;
    }

    .customer-login_img>img {
        width: 100%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

@media (max-width: 745px) {
    .customer-login_img {
        height: 400px;
    }
}

@media (max-width: 662px) {
    .customer-login_img {
        display: none;
    }
}

#forgetpass_otp {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    padding: 20px 0px;
}

#forgetpass_otp > button {
    align-self: center; /* Center the Verify OTP button */
    margin-top: 24px;
}

.forgetpass_otp-message {
    color: black;
    font-size: 14px;
    margin-top: 4px;
    text-align: center;
}

.forgetpass_otp-message > span {
    color: var(--primary-color);
    font-weight: bold;
}

.forgetpass_otp-inputs {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center the inputs */
    margin-top: 10px;
}

.forgetpass_otp-inputs input {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid #d2d2d2;
    margin: 0 10px; /* Adjusted margin for better spacing */
}

.forgetpass_otp-inputs input:focus {
    border-bottom: 1.5px solid royalblue;
    outline: none;
}

@media (max-width: 413px) {
    .forgetpass_otp-inputs input {
        width: 25px;
        height: 25px;
        text-align: center;
        border: none;
        border-bottom: 1.5px solid #d2d2d2;
        margin: 0 5px;
    }
}
