#reset-pass_sec {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset-pass_sec>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 40px 40px;
    border-radius: 10px;
    margin: 0px auto;
}

#reset-pass_sec>form>div>input {
    border-radius: 2px;
    padding: 4px 0px 4px 15px;
    outline: none;
    border: none;
    width: 100%;
    outline: 1px solid var(--primary-color);
}


#reset-pass_sec>form>div>input:focus {
    outline: 2px solid rgba(0, 0, 255, 0.34);
    border-radius: 2px;
    border: none;
}


#reset-pass_sec>form>h3 {
    color: var(--primary-color);
}

#reset-pass_sec>form>h3,
label,
input {
    width: 100%;
    margin: 0px auto;
}

#reset-pass_sec-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 8px 0px;
    border: none;
    margin-top: 25px;
}

#reset-pass_sec-btn {
    cursor: pointer;
}

#reset-pass_sec-btn span {
    padding-bottom: 5px;
    text-align: left !important;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

#reset-pass_sec-btn i {
    color: white;
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

#reset-pass_sec-btn:hover i {
    transform: translateX(0);
}

#reset-pass_sec-btn:active i {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: white;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#reset-pass_sec-btn:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.reset-pass_input_cont {
    position: relative;
    margin-bottom: 1rem;
}

input {
    width: 100%;
    padding-right: 40px;
}

.reset-pass_toggle {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}



@media (max-width: 794px) {
    #reset-pass_sec>form {
        width: 55%;
    }
}

@media (max-width: 481px) {
    #reset-pass_sec>form {
        width: 75%;
    }
}